<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:theme="@style/AppTheme"
        android:label="সহজ হাজিরাত"
        android:icon="@drawable/sohoj_hajirat_icon"
        android:roundIcon="@drawable/sohoj_hajirat_icon"
        android:usesCleartextTraffic="false">

        <activity
            android:name="com.sohojhajirat.app.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
    </application>
</manifest>
